.board_list .movie_code {
	width: 10%;
	text-align: center;
}
.board_list .movie_title {
	width: 30%;
	text-align: center;
}
.board_list .movie_director {
	width: 15%;
	text-align: center;
}

.board_list .movie_actor {
	width: 15%;
	text-align: center;
}

.board_list .movie_genre {
	width: 20%;
	text-align: center;
}
.board_list .movie_review{
	width: 10%;
}

.movie_review>button{
	padding: 2px 2px;
    border: none;
	background-color: var(--main-corlor);
	color: var(--font-color);
}