@charset "UTF-8";

.board_list .screenDate_code {
	width: 10%;
}

.board_list .screenDate_time {
	width: 35%;
}

.board_list .screenDate_type {
    width: 10%;
}

.board_list .movie_title {
	width: 25%;
}

.board_list .screenDate_updateBtn{
    width: 10%;
}

.board_list .screenDate_deleteBtn{
    width: 10%;
}