@charset "UTF-8";

:root{
    --main-corlor: #c889ff;
	--black-corlor: #333;
}

* {
	margin: 0;
	padding: 0;
	border:0;
	list-style: none;
}

.content{
    width: 1200px;
    margin: 0 auto;
}

.movieChartHeader {
    border-bottom: 3px solid #000;
}

.chartTitle{
    text-align: left;
    padding-left: 20px;
    font-size: 37px;
    font-weight: 500;
    vertical-align: middle;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    margin: 35px 30px;
    max-width: 20%;
    height: auto;
}

.moviePoster{
    width: 100%;
    height: 330px;
}

.movieTitle{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.openingDay{
    font-size: 15px;
    margin: 0;
}

.movieChartBtn{
    padding: 7px 20px;
	background-color: var(--main-corlor);
	color: var(--font-color);
    border-radius: 5px;
    position: relative;
}