<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href=css/header.css rel="stylesheet">
	<link href=css/forum.css rel="stylesheet">
	<link href=css/cutscene_slider.css rel="stylesheet">
	<link href=css/comment.css rel="stylesheet">
	<link href=css/footer.css rel="stylesheet">
	<link href=css/notice_board.css rel="stylesheet">
	<link href=css/notice_board_style.css rel="stylesheet">
	<link href=css/notice_board_media.css rel="stylesheet">
	<title>Insert title here</title>
</head>

<body>
	<nav id="Team_toplinebanner">
		<!-- style="display:none"-->
		<div id="topbanner">
			<div id="topbanner_img">
				<img alt="html" src="img/topimg.PNG" />
			</div>
		</div>
		<div id="header_body">
			<div id="header_second_body">
				<div id="top_logo">
					<img alt="html" src="img/logo.png" />
				</div>
				<div class="main-menu">
					<div class="main-item">
						영화
						<ul class="sub-menu">
							<li>무비차트</li>
						</ul>
					</div>
					<div class="main-item">
						예매
						<ul class="sub-menu">
							<li>빠른예매</li>
							<li>상영스케줄</li>
						</ul>
					</div>
					<div>로그인</div>
					<div>회원가입</div>
				</div>
			</div>
		</div>
	</nav>
	<main>
		<div id="forum_body">
			<div id="forum_main">
				<div id="forum_topflex">
					<div id="forum_poster">
						<img src=img/poster.PNG>
					</div>
					<div>
						<h1 id="poster_name">밀수</h1>
						<h5>smugglers</h5>
					</div>
					<h5 id="screening_status">현재상영중</h5>
					<div id="genre">
						<h5>감독 : 류승완 / 배우 : 김혜수, 염정아, 조인성, 박정민, 김종수, 고민시</h5>
						<h5>장르 : 범죄 / 기본 정보 : 15세이상관람가, 129분, 한국</h5>
						<h5>개봉 : 2023.07.26</h5>
						<input type="button" value="프리에그">
						<input type="button" value="예매하기">
					</div>
				</div>
				<div id="trailer_link">
					<div>
						<ul>
							<li><a href="#">주요정보</a></li>
							<li><a href="#">트레일러</a></li>
							<li><a href="#">스틸컷</a></li>
							<li><a href="#">평점/리뷰</a></li>
							<li><a href="#">상영시간표</a></li>
						</ul>
					</div>
					<div id="forum_text">
						<p>열길 물속은 알아도 한길 사람 속은 모른다!
							<br>평화롭던 바닷가 마을 군천에 화학 공장이 들어서면서 하루아침에 일자리를 잃은 해녀들.
							<br>먹고 살기 위한 방법을 찾던 승부사 '춘자'(김혜수)는
							<br>바다 속에 던진 물건을 건져 올리기만 하면 큰돈을 벌 수 있다는 밀수의 세계를 알게 되고
							<br>해녀들의 리더 '진숙'(염정아)에게 솔깃한 제안을 한다.
							<br>위험한 일임을 알면서도 생계를 위해 과감히 결단을 내린 해녀 '진숙'은
							<br>전국구 밀수왕 '권 상사'를 만나게 되면서 확 커진 밀수판에 본격적으로 빠지게 된다.
							<br>그러던 어느 날, 일확천금을 얻을 수 있는 일생일대의 기회가 찾아오고
							<br>사람들은 서로를 속고 속이며 거대한 밀수판 속으로 휩쓸려 들어가기 시작하는데...

							물길을 아는 자가 돈길의 주인이 된다!
						</p>
					</div>
				</div>
				<div>
					<div>
						<div class="trailer_stillcut">
							<span>트레일러</span><span>4건</span>
							<a href="#"><img src="img/plusicon.jpg" alt="더보기"></a>
							<!-- 트레일러 부분-->
						</div>
						<div>
							<div id="video_part">
								<div id="video_img1">
									<img src="img/video1.JPG" alt="메인 예고편">
									<br>
									<span>
										메인예고편
										<br>
										<span>2023.07.11</span>
									</span>
								</div>
								<div id="video_img2">
									<img src="img/video2.JPG" alt="수중&지상 액션 제작기 영상">
									<br>
									<span>
										수중&amp;지상 액션 제작기 영상
										<br>
										<span>2023.07.04</span>
									</span>
								</div>
								<div id="video_img3">
									<img src="img/video3.JPG" alt="티저 예고편">
									<br>
									<span>
										티저 예고편
										<br>
										<span>2023.06.19</span>
									</span>
								</div>
							</div>
							<div id="preview">



							</div>
						</div>
					</div>

					<div>
						<div class="trailer_stillcut">
							<span>스틸컷</span><span>10건</span>
							<a href="#"><img src="img/plusicon.jpg" alt="더보기"></a>
						</div>
						<div>
							<!-- 사용자에게 보여지는 화면 -->
							<div class="controls">
								<div>
									<div>
										<img alt="이전" src="img/arrow_icon(prev).PNG" class="prev">
									</div>
									<div>
										<img alt="다음" src="img/arrow_icon(next).PNG" class="next">
									</div>
								</div>
								<div class="slide-wrapper">
									<ul class="slides">
										<li><img class="video_img img1" src="img/cutscene/still_cut1.jpg"></li>
										<li><img class="video_img img2" src="img/cutscene/still_cut2.jpg"></li>
										<li><img class="video_img img3" src="img/cutscene/still_cut3.jpg"></li>
										<li><img class="video_img img4" src="img/cutscene/still_cut4.jpg"></li>
										<li><img class="video_img img5" src="img/cutscene/still_cut5.jpg"></li>
										<li><img class="video_img img6" src="img/cutscene/still_cut6.jpg"></li>
										<li><img class="video_img img7" src="img/cutscene/still_cut7.jpg"></li>
										<li><img class="video_img img8" src="img/cutscene/still_cut8.jpg"></li>
										<li><img class="video_img img9" src="img/cutscene/still_cut9.jpg"></li>
										<li><img class="video_img img10" src="img/cutscene/still_cut10.jpg"></li>
									</ul>
								</div>


							</div>
						</div>
					</div>
				</div>
				<br><br>
				<br><br>
				<div id="comment_body">
					<!--<div id="comment_top">
						<label>
							<span>관람일 포함 7일 이내 관람평을 남기시면 BF 포인트가 20P 적립됩니다.</span>
							<br>
							<span>22,670명의 실관람객이 평가해주셨습니다.</span>
						</label>
						<label>
							<input type="button" value="평점작성">
							<input type="button" value="내 평점">
						</label>
					</div>-->
					<br><br>
					<br><br>
					<div>

						<div>
							<ul id="conmment_array">
								<li id="com_array1">
									<a href="#">
										최신순
										<span class="icon_arrow"></span>
									</a>
								</li>
								<li>
									<a href="#">
										추천순
										<span class="icon_arrow"></span>
									</a>
								</li>
							</ul>

						</div>
						<div class="comment_start">
							<div class="comment_body">
								<div class="comment_container">
									<div class="comment-box">
										<h2>댓글 등록</h2>
										<form class="comment-form">
											<input type="text" id="name" placeholder="이름 (한글 또는 영어)">
											<input type="text" id="phoneNumber" placeholder="전화번호 (숫자만)">
											<textarea id="commentText" placeholder="댓글을 작성해주세요"></textarea>
											<button type="button" onclick="submitComment()">댓글 등록</button>
										</form>
									</div>

									<ul class="comment-list" id="commentList">
										<!-- 댓글 목록이 여기에 나타납니다 -->
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
	<!--게시판 시작-->
	<section>
		<div class="board_wrap">
			<div class="board_title">
				<strong>공지사항</strong>
				<p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
			</div>
			<div class="board_list_wrap">
				<div class="board_list">
					<div class="top"> <!--첫번째 줄만 스타일을 다르게 주기위해 top 클래스를 주었음.-->
						<div class="num">번호</div>
						<div class="title">제목</div>
						<div class="writer">글쓴이</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>
					<div>
						<div class="num">5</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="writer">황영섭</div>
						<div class="date">2023.08.09</div>
						<div class="count">555</div>
					</div>
					<div>
						<div class="num">4</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="writer">글쓴이</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>
					<div>
						<div class="num">3</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="writer">글쓴이</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>
					<div>
						<div class="num">2</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="writer">글쓴이</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>
					<div>
						<div class="num">1</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="writer">글쓴이</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>
				</div>
				<div class="board_page">
					<a href="#" class="bt first">
						<<< /a>
							<a href="#" class="bt prev">
								<< /a>
									<a href="#" class="num on">1</a>
									<a href="#" class="bt">2</a>
									<a href="#" class="bt">3</a>
									<a href="#" class="bt">4</a>
									<a href="#" class="bt">5</a>
									<a href="#" class="bt next">></a>
									<a href="#" class="bt last">>></a>
				</div>
				<div class="bt_wrap">
					<a href="#" class="on">목록</a>
					<a href="#">수정</a>
				</div>
			</div>
		</div>


	</section>
	<div class="footer_box">
		<footer>
			<div class="footer-links">
				<a href="#">회사소개</a>
				<a href="#">지속가능경영</a>
				<a href="#">IR</a>
				<a href="#">채용정보</a>
				<a href="#">광고/제휴/출점문의</a>
				<a href="#">이용약관</a>
				<a href="#">편성기준</a>
				<a href="#">개인정보처리방침</a>
				<a href="#">법적고지</a>
				<a href="#">이메일주소무단수집거부</a>
				<a href="#">윤리경영</a>
				<a href="#">사이버감사실</a>
			</div>
			<div class="footer-info">
				<p>(04377)울산광역시 주형로82 버닝폭스빌딩 8층</p>
				<p>대표이사: 허주형</p>
				<p>사업자등록번호: 123-45-678910</p>
				<p>통신판매업신고번호: 2023-서울강남-0662 사업자정보확인</p>
				<p>호스팅사업자: BURNING FOX 홀리몰리</p>
				<p>개인정보보호 책임자: 없음</p>
				<p>대표이메일: h32044@naver.com</p>
				<p>&copy; BURNING FOX cinema</p>
			</div>
		</footer>
	</div>



	<script type="text/javascript" src="js/header.js"></script>
	<script type="text/javascript" src="js/img_slide.js"></script>
	<script type="text/javascript" src="js/comment_main.js"></script>
	<script type="text/javascript" src="js/video_popup.js"></script>
</body>

</html>