<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" th:src="@{/js/forum/movieChart.js}"></script>
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/movie/movieChart.css}">
</th:block>

<div class="content" layout:fragment="content">
        <div class="chartTitleContainer">
            <p class = "chartTitle">무비 차트</p>
            <form class= "titleSearchInput" action="">
                <input class="navInput" type="text" placeholder="영화 제목을 입력하세요">
                <input class="inputBtn" type="button" onclick="searchMovie()" value="검색">
            </form>
        </div>
        <div id="flexContainer">
            <!-- html(Thymeleaf) -->

            <th:block th:each ="movieChart, status:${MovieChartFormDTOList}">
                <form class = "movie">
                    <div>
                        <div>
                            <a href=""><img class="moviePoster" th:src = "${movieChart.imgUrl}" ></a>
                        </div>
                        <div>
                            <p class="movieTitle" th:text="${movieChart.movieTitle}"></p>
                            <p class="openingDay" th:text="${movieChart.premiereDate}"></p>
                        </div>

                        <input type ="button" class="movieChartBtn" value="예매하기">
                    </div>
                </form>
            </th:block>
        </div>
    <div class="MoreBtn"><input type ="button" id="movieViewMoreBtn" VALUE="더보기"></div>

</div>
</html>