<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/administrator/board.css}">
    <link rel="stylesheet" th:href="@{/css/administrator/inquiry.css}">
</th:block>
<div layout:fragment="content">
    <div class="inquiry_header" th:object="${inquiry}">
        <div class="title" th:text="${inquiry.title}">title</div>
        <div class="regDate" th:text="${inquiry.regDate}">regDate</div>
        <div class="writer" th:text="${inquiry.member.id}"></div>
        <div class="status"th:text="${inquiry.inquiryStatus}">inquiryStatus</div>
    </div>
    <div class="content" th:text="${inquiry.content}"></div>
    <div class="inquiry_footer">
        <textarea class="answer"></textarea>
        <!-- 제출하면 inquiryStatus 문의 완료로 바꾸기 -->
        <button>제출</button>
        <button>취소</button>
    </div>
</div>

</html>