<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/administrator/board.css}">
	<link rel="stylesheet" th:href="@{/css/administrator/screen_date.css}">
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function deleteScreenDate(obj) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var screenDateCode = obj.dataset.screen_date;
			var screenCode = obj.dataset.screen;

			var url = "/admin/screenDate/" + screenDateCode;
			console.log(url);
			console.log(screenCode);
			console.log("screenDateCode : " + screenDateCode);
			$.ajax({
				url: url,
				type: "DELETE",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				dataType: "json",
				cache: false,
				success: function (result, status) {
					location.href = '/admin/screen/' + screenCode;
				},

				error: function (jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 이용해주세요');
						location.href = '/member/login';
					} else {
						alert(jqXHR.responseJSON.message);
					}
				}
			});
		}
	</script>
</th:block>
<div layout:fragment="content">
	<div class="noticeBoard">
		<div>
			<th:block>
				<h2 class="allMember" th:text="${theater.name} + ' ' + ${screen.code} + '관 상영시간표'"></h2>
			</th:block>
		</div>
		<div class="board_list_wrap">
			<div class="board_list">
				<div class="top">
					<div class="screenDate_code">번호</div>
					<div class="screenDate_time">상영 시간</div>
					<div class="screenDate_type">조조/심야</div>
					<div class="movie_title">타이틀</div>
					<input type="hidden" class="screenDate_updateBtn">
					<input type="hidden" class="screenDate_deleteBtn">
				</div>
				<th:block th:each="screenDate, status:${screenDateList}">
					<div>
						<div class="screenDate_code">[[${screenDate.code}]]</div>
						<div class="screenDate_time">
							<a th:href="'/admin/screenDate/'+${screenDate.code}" th:text="${#temporals.format(screenDate.screeningDateTime, 'yyyy년 MM월 dd일 HH시 mm분')}"></a>
						</div>
						<div class="screenDate_type">[[${screenDate.screeningTime}]]</div>
						<div class="movie_title">[[${screenDate.movie.movieTitle}]]</div>
						<div class="screenDate_updateBtn">
							<a th:href="'/admin/screenDate/'+${screenDate.code}+'/update'"><button>수정</button></a>
						</div>
						<div class="screenDate_deleteBtn">
							<button th:data-screen_date="${screenDate.code}" th:data-screen="${screen.code}"
								onclick="deleteScreenDate(this)">삭제</button>
						</div>
					</div>
				</th:block>
			</div>
			<div class="board_page"
				th:with="start=${(screenDateList.number/maxPage)*maxPage+1},end=(${(screenDateList.totalPages==0)? 1:(start+(maxPage-1)< screenDateList.totalPages? start+(maxPage-1) : screenDateList.totalPages)})">
				<div>
					<a th:href="@{'?page=0'}" class="bt first">&lt;&lt;</a>
					<a th:href="@{'?page='+${screenDateList.number==0? 0:screenDateList.number-1}}"
						class="bt prev">&lt;</a>
					<th:block th:each="page : ${#numbers.sequence(start,end)}"
						th:classappend="${screenDateList.number eq page-1}?'active':''">
						<a th:href="@{'?page='+${page-1}}" th:inline="text">[[${page}]]</a>
					</th:block>
					<a th:href="@{'?page='+${screenDateList.number==screenDateList.totalPages-1? screenDateList.totalPages-1:screenDateList.number+1}}"
						class="bt next">&gt;</a>
					<a th:href="@{'?page='+${screenDateList.totalPages-1}}" class="bt last">&gt;&gt;</a>
				</div>
			</div>
			<th:block>
				<div class="bt_wrap">
					<a th:href="'/admin/screen/' + ${screen.code} + '/new'">등록하기</a>
				</div>
			</th:block>
		</div>
	</div>
</div>

</html>