<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/administrator/board.css}">
	<link rel="stylesheet" th:href="@{/css/administrator/seat.css}">
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function deleteSeat(obj) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var screenDateCode = obj.dataset.screen_date;
			var seatCode = obj.dataset.seat;

			var url = "/admin/seat/" + seatCode;

			$.ajax({
				url: url,
				type: "DELETE",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				dataType: "json",
				cache: false,
				success: function (result, status) {
					location.href = '/admin/screenDate/' + screenDateCode;
				},

				error: function (jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 이용해주세요');
						location.href = '/member/login';
					} else {
						alert(jqXHR.responseJSON.message);
					}
				}
			});
		}
	</script>
</th:block>
<div layout:fragment="content">
	<div class="noticeBoard">
		<div>
			<th:block>
				<h2 class="allMember"
					th:text="${theater.name} + ' ' + ${screen.code} + '관 ' + ${#temporals.format(screenDate.screeningDateTime, 'yyyy년 MM월 dd일 HH시 mm분')} + ' 의 좌석 현황'">
				</h2>
			</th:block>
		</div>
		<div class="board_list_wrap">
			<div class="board_list">
				<div class="top">
					<div class="seat_code">번호</div>
					<div class="seat_row">행</div>
					<div class="seat_column">열</div>
					<div class="seat_status">상태</div>
					<input type="hidden" class="seat_updateBtn">
					<input type="hidden" class="seat_deleteBtn">
				</div>
				<th:block th:each="seat, status:${seatList}">
					<div>
						<div class="seat_code">[[${seat.code}]]</div>
						<div class="seat_row">[[${seat.seatRow}]]</div>
						<div class="seat_column">[[${seat.seatColumn}]]</div>
						<div class="seat_status">[[${seat.status}]]</div>
						<div class="seat_updateBtn">
							<a th:href="'/admin/seat/'+${seat.code}+'/update'"><button>수정</button></a>
						</div>
						<div class="seat_deleteBtn">
							<button th:data-screen_date="${screenDate.code}" th:data-seat="${seat.code}"
								onclick="deleteSeat(this)">삭제</button>
						</div>
					</div>
				</th:block>
			</div>
			<div class="board_page"
				th:with="start=${(seatList.number/maxPage)*maxPage+1},end=(${(seatList.totalPages==0)? 1:(start+(maxPage-1)< seatList.totalPages? start+(maxPage-1) : seatList.totalPages)})">
				<div>
					<a th:href="@{'?page=0'}" class="bt first">&lt;&lt;</a>
					<a th:href="@{'?page='+${seatList.number==0? 0:seatList.number-1}}" class="bt prev">&lt;</a>
					<th:block th:each="page : ${#numbers.sequence(start,end)}"
						th:classappend="${seatList.number eq page-1}?'active':''">
						<a th:href="@{'?page='+${page-1}}" th:inline="text">[[${page}]]</a>
					</th:block>
					<a th:href="@{'?page='+${seatList.number==seatList.totalPages-1? seatList.totalPages-1:seatList.number+1}}"
						class="bt next">&gt;</a>
					<a th:href="@{'?page='+${seatList.totalPages-1}}" class="bt last">&gt;&gt;</a>
				</div>
			</div>
			<th:block>
				<div class="bt_wrap">
					<a th:href="'/admin/screenDate/' + ${screenDate.code} + '/new'">등록하기</a>
				</div>
			</th:block>
		</div>
	</div>
</div>

</html>