<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/administrator/board.css}">
	<link rel="stylesheet" th:href="@{/css/administrator/theater.css}">
	<style>
		.on {
			display: inline-block;
			margin: 0;
		}

		.off {
			display: none;
			margin: 0;
		}
	</style>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function deleteScreen(obj) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var screenCode = obj.dataset.screen;
			var theaterCode = obj.dataset.theater;

			var url = "/admin/screen/" + screenCode;

			$.ajax({
				url: url,
				type: "DELETE",
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				dataType: "json",
				cache: false,
				success: function (result, status) {
					location.href = '/admin/theater/' + theaterCode;
				},

				error: function (jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 이용해주세요');
						location.href = '/member/login';
					} else {
						alert(jqXHR.responseJSON.message);
					}
				}
			});
		}
	</script>
</th:block>
<div layout:fragment="content">
	<!--사용자 창 시작-->
	<div class="noticeBoard">
		<div>
			<th:block>
				<h2 class="allMember" th:text="${theater.theaterName} + ' 상영관 목록'"></h2>
			</th:block>
		</div>
		<div class="board_list_wrap">
			<div class="board_list">
				<div class="top"> <!--첫번째 줄만 스타일을 다르게 주기위해 top 클래스를 주었음.-->
					<div class="theater_code">번호</div>
					<div class="theater_location">위치</div>
					<div class="theater_type">타입</div>
				</div>
				<th:block th:each="screen, status:${screenList}">
					<div>
						<div class="theater_code">[[${screen.code}]]</div>
						<div class="theater_location"><a
								th:href="'/admin/screen/'+${screen.code}">[[${screen.getScreenLocation}]]</a></div>
						<div class="theater_status">[[${screen.screenType}]]</div>
						<div class="screen_updateBtn">
							<a th:href="'/admin/screen/'+${screen.code}+'/update'"><button>수정</button></a>
						</div>
						<div class="screen_deleteBtn">
							<button th:data-screen="${screen.code}" th:data-theater="${theater.code}" onclick="deleteScreen(this)">삭제</button>
						</div>
					</div>
				</th:block>
			</div>
			<div class="board_page">
				<a href="#" class="bt first">
				</a>
				<a href="#" class="bt prev">
				</a>
				<a href="#" class="num on">1</a>
				<a href="#" class="bt">2</a>
				<a href="#" class="bt">3</a>
				<a href="#" class="bt">4</a>
				<a href="#" class="bt">5</a>
				<a href="#" class="bt next">></a>
				<a href="#" class="bt last">>></a>
			</div>
			<th:block>
				<div class="bt_wrap">
					<a th:href="'/admin/theater/' + ${theater.code} + '/new'">등록하기</a>
				</div>
			</th:block>
		</div>
	</div>
</div>

</html>