<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout2}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/administrator/board.css}">
    <link rel="stylesheet" th:href="@{/css/administrator/point.css}">
</th:block>
<div layout:fragment="content">
    <div class="noticeBoard_point">
        <div class="noticeBoard_point_Container">
            <h2 class="allMember">포인트</h2>
            <div>
                <input class="noticeBoard_Point_Text" type="text" placeholder="닉네임을 입력해 주세요.">
                <input class="noticeBoard_Point_Btn" type="button" value="검색">
            </div>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="member_code">번호</div>
                    <div class="member_id">아이디</div>
                    <div class="member_name">이름</div>
                    <div class="member_email">이메일 주소</div>
                    <div class="member_point">포인트</div>
                    <div class="member_regdate">가입일</div>
                </div>
                <div>
                    <div class="member_code">7</div>
                    <div class="member_id">아이디</div>
                    <div class="member_name">이름</div>
                    <div class="member_email">youngseob10@naver.com</div>
                    <div class="member_point">100P</div>
                    <div class="member_regdate">2023.08.09</div>
                </div>
            </div>
            <div class="board_page">
                <a href="#" class="bt first">
                    << </a>
                        <a href="#" class="bt prev">
                            < </a>
                                <a href="#" class="num on">1</a>
                                <a href="#" class="bt">2</a>
                                <a href="#" class="bt">3</a>
                                <a href="#" class="bt">4</a>
                                <a href="#" class="bt">5</a>
                                <a href="#" class="bt next">></a>
                                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="#" class="on">목록</a>
                <a href="#">수정</a>
            </div>
        </div>
    </div>
</div>

</html>