<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/ticketing.css}">
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/ticketing.js}"></script>
</th:block>
<div layout:fragment="content">

	<div id="ticketing">
		<div id="step1">
			<div id="con1">
				<h3>영화</h3>
				<ul>
					<th:block th:each="movie : ${movieList}">
						<li th:text="${movie.movieTitle}" th:value="${movie.code}"></li>
					</th:block>
				</ul>
			</div>
			<div id="con2">
				<h3>극장</h3>
				<th:block th:each="location : ${T(com.HiBro.constant.Location).values()}">
					<ul>
						<li>
							<div th:switch="${location}">
								<div th:case="${T(com.HiBro.constant.Location).SEOUL}">서울</div>
								<div th:case="${T(com.HiBro.constant.Location).INCHEON}">경기/인천</div>
								<div th:case="${T(com.HiBro.constant.Location).DAEJEON}">충천/대전</div>
								<div th:case="${T(com.HiBro.constant.Location).GWANGJU}">전라/광주</div>
								<div th:case="${T(com.HiBro.constant.Location).DAEGU}">경북/대구</div>
								<div th:case="${T(com.HiBro.constant.Location).BUSAN}">경남/울산/부산</div>
								<div th:case="${T(com.HiBro.constant.Location).JEJU}">강원/제주</div>
								<div class="hidcon2">
									<ul>
										<th:block th:each="theater, status:${theaterList}">
											<li th:if="${theater.getLocation == location}" th:value="${theater.code}">[[${theater.name}]]</li>
										</th:block>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</th:block>
			</div>
			<div id="con3">
				<h3>날짜</h3>
				<div>달력</div>
				<div id="date_time">
					<span>
						<span>2D</span>
						<span>3관 8층</span>
						<span>(총172석)</span>
					</span>
					<ul id ="screenDateList">
						<li class="screenDateList" th:each="screenDate : ${screenDateList}" th:text="${screenDate.screeningDateTime}"></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="step2">
			<div>
				<div>
					일반<select id="adult">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
					청소년<select id="youth">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
					노인<select id="senior">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
					우대<select id="special">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
					<p>총인원: <span id="total1">0</span></p>
					<p>총액: <span id="total2">0</span></p>
				</div>
				<div class="seatContainer">
					<div class="screen"></div>
					<div class="row">
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
					</div>

					<div class="row">
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="occupiedSeat"></span>
						<span class="occupiedSeat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
					</div>

					<div class="row">
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="occupiedSeat"></span>
						<span class="seat"></span>
					</div>

					<div class="row">
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="occupiedSeat"></span>
						<span class="occupiedSeat"></span>
					</div>

					<div class="row">
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
					</div>

					<div class="row">
						<span class="seat"></span>
						<span class="occupiedSeat"></span>
						<span class="occupiedSeat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="seat"></span>
						<span class="occupiedSeat"></span>
						<span class="seat"></span>
					</div>

					<p class="text">좌석: <span id="count">0</span></p>
				</div>
			</div>
		</div>
		<div id="step3"></div>
		<div id="con4">
			<a href="#none" id="backmovsel">영화선택</a>
			<a href="#none" id="goseatsel">좌석선택</a>
			<a href="#none" id="gopay">결제</a>
		</div>
	</div>

</div>


</html>