<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
	<div class = "header">
		<div class="logoDiv">
			<div class="logo">B F C</div>
			<div class="subLogo">Administration</div>
		</div>
		<div class="adNav">
			<select name="select" class="selectUserState">
				<option value="user">사용자</option>
				<option value="poinManagement">포인트 관리</option>
				<option value="InquiryHistory">문의 내역</option>
				<option value="mainVideo">메인페이지 비디오 관리</option>
				<option value="mainPoster">메인 포스터</option>
				<option value="introductionTheater">상영관 소개</option>
			</select>
			<div><input class="navInput" type="text" placeholder="내용을 입력하세요"></div>
			<div><input class="inputBtn" type="button" value="검색"></div>
		</div>
	</div>
</div>

</html>