<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
	<nav id="Team_toplinebanner">
		<!-- style="display:none"-->
		<div id="topbanner">
			<div id="topbanner_img">
				<img alt="html" th:src="@{img/topimg.PNG}" />
			</div>
		</div>
		<div id="header_body">
			<div id="header_second_body">
				<div id="top_logo">
					<img alt="html" src="img/logo.png" />
				</div>
				<div class="main-menu">
					<div class="main-item">
						영화
						<ul class="sub-menu">
							<li>무비차트</li>
						</ul>
					</div>
					<div class="main-item">
						예매
						<ul class="sub-menu">
							<li>빠른예매</li>
							<li>상영스케줄</li>
						</ul>
					</div>
					<div>로그인</div>
					<div>회원가입</div>
				</div>
			</div>
		</div>
	</nav>
</div>

</html>