<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="side">
    <aside>
        <div class="asideMenu">
            <div class="managerProfile">
                <p><img src="" alt=""></p>
                <p>관리자님 환영합니다.</p>
            </div>
            <div class="memberManagement">
                <ul>
                    <li class="membership">회원 관리</li>
                    <li id="membershipUser">사용자</li>
                    <li id="membershipPoin">포인트 관리</li><!--접근성을 낮출것-->
                    <li id="membershipInquiry">문의 내역</li>
                </ul>
            </div>
            <div class="contentManagement">
                <ul>
                    <li class="contentManagementTitle">콘텐츠 관리</li>
                    <li>메인페이지 비디오 관리</li>
                    <li>메인페이지 포스터</li>
                    <li>상영관 소개</li>
                </ul>
            </div>
            <div class="logout">
                <p>로그아웃</p>
            </div>
        </div>
    </aside>
</div>

</html>