#hidcon {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	right: 60px;
	bottom: 80px;
	text-align: center;
	z-index: 7;
}

#hidcon a:first-child {
	position: absolute;
	width: 136px;
	padding: 12px 0 14px;
	color: #f6f6f6;
	line-height: 1.5em;
	background-image: linear-gradient(to left, #c889ff, #c889ff);
	box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	transition: right 0.4s;
	opacity: 0;
}

#hidcon a:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	width: 48px;
	height: 48px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	opacity: 0;
}